name: codecov
on:
  push:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        version: [1.25]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.version }}
      - run: go version
      - run: go test -race -cover -coverprofile="coverage.txt" ./...
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
